@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;900&family=Signika+Negative:wght@400;500;600;700&display=swap');

:root {
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate700: #334155;
  --slate800: #1e293b;

  --red500: #ef4444;

  --emerald400: #34d399;
  --sky400: #38bdf8;


  /* Bootstrap icon Arrow bar left ::before > content*/
  --minimize-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" fill="%231e293b" class="bi bi-arrow-bar-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/></svg>');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: var(--slate100);

  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "nav header"
    "nav main";
}

.nav-section {
  grid-area: nav;

  display: flex;
  flex-direction: column;
  gap: 0.8em;
  padding-top: 2em;

  color: var(--slate700);
  background: linear-gradient(100deg, var(--sky400), var(--emerald400));

  border-bottom-right-radius: 25px;
}

.nav-section h1 {
  font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0.1em;
  border-bottom: 5px solid var(--slate700);
  margin-bottom: 0.2em;
}

.nav-section h1,
.nav-section h2 {
  align-self: center;
}

.nav-section h2 {
  font-size: 2em;
  font-weight: 700;
  border-bottom: 4px solid var(--slate700);
  margin-bottom: 0.2em;
}

.nav-section h3 {
  align-self: center;
  font-size: 1.2em;
  padding-left: 1em;
  color: var(--slate800);
}

.project-div-container {
  display: flex;
  justify-content: space-between;
  padding-right: 0.8em;
  height: 2.5em;
  cursor: pointer;
}

.project-div-creating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5em;
  gap: 0.5em;
}

.project-name-input {
  box-sizing: border-box;
  width: 80%;
  font-size: 1.2em;
  padding: 0.2em;
  padding-left: 0.3em;
  color: var(--slate800);
  background: var(--slate200);

  border: none;
  border-radius: 8px;
  outline: none;
}

.project-name-input:focus {
  outline: 2px solid var(--slate500);
}

.cancel-creating-btn,
.add-creating-btn {
  border: none;
  height: 2em;
  font-weight: 700;
  font-size: 0.9em;
  border-radius: 8px;
  box-shadow: 2px 2px 10px -2px var(--slate700);
  color: var(--slate500);
  background: var(--slate200);
}

.cancel-creating-btn {
  margin-right: 1em;
  width: 6em;
}

.add-creating-btn {
  width: 4em;
}

.project-div-container button {
  background: none;
  border: none;
  height: 80%;
  width: 1.2em;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--slate700);
  align-self: center;
}

.project-div-container button:hover {
  background: var(--red500);
  color: var(--slate800);
  border-radius: 4px;
}

.project-div-container:hover {
  background: linear-gradient(90deg, var(--slate200), var(--slate300));
}

.create-projects-btn {
  align-self: center;
  width: 60%;
  height: 2.5em;
  font-size: 1.2em;
  font-weight: 700;
  color: var(--slate500);
  background: var(--slate200);

  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px -2px var(--slate700);
}

.create-projects-btn:hover,
.cancel-creating-btn:hover,
.add-creating-btn:hover {
  color: var(--slate800);
  background: var(--slate300);
  box-shadow: none;
}


.header-section {
  grid-area: header;
}

.main-section {
  grid-area: main;
}


