@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;900&family=Signika+Negative:wght@400;500;600;700&display=swap');

:root {
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate700: #334155;
  --slate800: #1e293b;

  --red500: #ef4444;
  --red600: #dc2626;

  --green500: #22c55e;
  --green600: #16a34a;

  --sky500: #0ea5e9;

  --emerald400: #34d399;
  --sky400: #38bdf8;

  /* Left example for icons */
  /* Bootstrap icon Arrow bar left ::before > content*/
  --minimize-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" fill="%231e293b" class="bi bi-arrow-bar-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/></svg>');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: var(--slate200);

  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "nav header"
    "nav main";
}

li {
  list-style: none;
}

/* NAVIGATION */
.nav-section {
  grid-area: nav;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(110deg, var(--sky400), var(--emerald400));
  border-bottom-right-radius: 30px;
}

.nav-section h1 {
  font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: var(--slate200);
  margin-bottom: 0.5em;
}

.nav-section h2 {
  font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  color: var(--slate200);
  margin-bottom: 0.5em;
}

.nav-section ul {
  align-self: flex-start;
  width: 100%;
}

.nav-section li {
  font-size: 1.5em;
  padding-left: 2em;
  cursor: pointer;
  color: var(--slate700);
  font-weight: 500;
  margin-bottom: 0.1em;
}

.nav-section form {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "input input"
    "cancel save";
  row-gap: 0.6em;
  column-gap: 0.5em;

  margin-bottom: 1em;
}

.nav-section .project-list li {
  display: flex;
  justify-content: space-between;
}

.delete-project-btn {
  color: var(--slate700);
  width: 35px;

  font-size: 1em;
  font-weight: 600;
  
  
  align-self: center;
  text-align: center;
  margin-right: 0.5em;

  border: none;
  background: none;
}

.delete-project-btn:hover {
  color: var(--slate100);
  background: var(--red500);
  border-radius: 8px;
}

.nav-section li:last-of-type {
  margin-bottom: 0.5em;
}

.nav-section li:hover {
  background: var(--slate200);
}

.input-title {
  grid-area: input;
  justify-self: center;

  width: 90%;
  height: 32px;
  font-size: 1.2em;
  padding-left: 0.2em;

  color: var(--slate800);
  background: var(--slate200);

  border: none;
  border-radius: 4px;

  outline: none;
}

.input-title:focus {
  border: 2px solid var(--slate500);
}

.cancel-project-btn,
.save-project-btn {
  width: 100px;
  height: 32px;

  font-size: 1em;
  font-weight: 700;

  color: var(--slate200);

  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 6px -1px var(--slate700);
}

.cancel-project-btn {
  grid-area: cancel;
  justify-self: flex-end;

  background: var(--red500);
}

.save-project-btn {
  grid-area: save;
  justify-self: flex-start;

  background: var(--green500);
}

.cancel-project-btn:hover,
.save-project-btn:hover {
  box-shadow: none;
}

.cancel-project-btn:hover {
  background: var(--red600);
}

.save-project-btn:hover {
  background: var(--green600);
}

.add-project-btn {
  width: 60%;
  height: 40px;

  font-size: 1em;
  font-weight: 600;

  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 0 var(--slate700);

  color: var(--slate700);
  background: var(--slate200);
}

.add-project-btn:hover {
  color: var(--slate800);
  background: var(--slate300);

  box-shadow: none;
  transition: 0.4s ease;
}

/* HEADER */
.header-section {
  grid-area: header;

  display: flex;
}

.current-page-text {
  font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
  font-size: 4.5rem;

  color: var(--slate700);

  align-self: flex-end;
  margin-left: 5.2rem;
}

/* CONTENT */
.content-section {
  grid-area: main;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-div {
  position: relative; /* To make sure new-todo-btn is always at the bottom of this div */

  width: 90%;
  height: 90%;

  background: var(--slate700);

  border-radius: 30px;
}

.todos-list {
  width: 100%;
}

.new-todo-btn {
  position: absolute;
  right: 0;
  bottom: 0;

  margin-right: 4rem;
  margin-bottom: 4rem;

  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 1px var(--slate800);

  color: var(--slate200);
  background: var(--green500);

  font-size: 3.2em;
}

.new-todo-btn:hover {
  box-shadow: none;
  background: var(--green600);
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background: var(--slate700);
  opacity: 60%;

  z-index: 50;
}

.create-todo-div {
  /* Position Absolute pop-up window to the center of the screen */
  position: absolute;
  height: 600px;
  width: 400px;

  margin-left: -200px;
  margin-top: -250px;
  left: 50%;
  top: 50%;

  background: var(--slate200);

  border-radius: 20px;
  box-shadow: 2px 2px 12px -1px var(--slate800);

  z-index: 100;
}

.create-todo-header-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 12%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  padding: 0 10px;

  background: linear-gradient(100deg, var(--sky400), var(--emerald400));
}

.create-todo-header-div h2 {
  font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
  font-size: 2.2rem;

  margin-left: 25%;

  color: var(--slate200);
}

.close-todo-create-btn {
  align-self: flex-start;
  margin-top: 10px;
  margin-left: auto;

  width: 35px;
  height: 35px;

  font-size: 1.1em;
  font-weight: 700;
  
  border: none;
  border-radius: 10px;

  color: var(--slate200);
  background: var(--red500);
  box-shadow: 2px 2px 7px -1px var(--slate700);
}

.close-todo-create-btn:hover {
  background: var(--red600);
  box-shadow: none;
}

.create-todo-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 88%;

  padding: 10px;
  padding-top: 20px;
}

.create-todo-form label {
  font-size: 1.5rem;
  font-weight: 600;

  padding-left: 18px;
  margin-bottom: 0.2em;
  margin-top: 0.5em;

  color: var(--slate800);
}

.create-todo-form label:first-of-type {
  margin-top: 0;
}

.create-todo-form input[type="text"],
.create-todo-form input[type="date"],
.create-todo-form textarea {
  align-self: center;

  width: 92%;

  font-weight: 700;

  color: var(--slate500);
  background: var(--slate100);

  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px -2px var(--slate500);

  outline: none;
}

.create-todo-form input[type="text"],
.create-todo-form input[type="date"] {
  height: 32px;

  font-size: 1em;

  padding: 0 5px;
}

.create-todo-form input[type="text"]:focus,
.create-todo-form input[type="date"]:focus,
.create-todo-form textarea:focus {
  border: 2px solid var(--sky400);
}

.create-todo-form textarea {
  height: 120px;

  font-size: 1.2em;

  padding: 5px;

  resize: none;
}

.create-todo-checkbox-div {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 0 15px;
}

.create-todo-checkbox-div label {
  padding-left: 10px;
}

.create-todo-form input[type="checkbox"] {
  appearance: none;
  position: relative;

  width: 30px;
  height: 30px;
  margin-top: -3px;

  border: 2px solid var(--slate100);
  box-shadow: 0 0 10px -2px var(--slate500);
  border-radius: 6px;

  background-color: var(--slate100);
}

.create-todo-form input[type="checkbox"]:focus {
  outline: none;
  border: 2px solid var(--sky400);
}

.create-todo-form input[type="checkbox"]::before {
  position: absolute;
  content: "✗";

  font-size: 32px;
  margin-top: -4px;
  color: var(--slate700);

  visibility: hidden;
}

.create-todo-form input[type="checkbox"]:checked::before {
  visibility: visible;
}

.create-todo-form .create-todo-btn {
  align-self: center;
  margin-top: 1em;

  width: 60%;
  height: 40px;

  font-size: 1.4em;
  font-weight: 700;
  
  color: var(--slate200);
  background: var(--sky400);

  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 6px -1px var(--slate800);
}

.create-todo-form .create-todo-btn:hover {
  background: var(--sky500);
  box-shadow: none; 
}

.task {
  display: grid;
  grid-template-columns: 1fr 4fr 5fr 2fr 1fr 1fr;

  align-items: center;
  border-bottom: 2px solid var(--slate100);

  width: 100%;
  height: 60px;
}

.task:first-of-type {
  margin-top: 24px;
}

.task h3,
.task p {
  color: var(--slate100);
}

.task h3 {
  font-size: 1.5em;
}

.task p {
  font-size: 1.1em;
  font-weight: 700;
  
  color: var(--slate300);
}
